
.form-row:not(:last-child) {
    margin-bottom: 1em;
}

.field-container {
    display: flex;
    flex-flow: row nowrap;
}

.field-container.reverse {
    flex-flow: row-reverse nowrap;
    align-items: center;
    justify-content: flex-end;
}

.field-container .label-container {
    flex: 0 0 20%;
}

.field-container.reverse .label-container {
    flex: 1 1 80%;
}

.field-container .input-container {
    flex: 1 1 calc(100% - 54px);
}

.field-container.reverse .input-container {
    flex: 0 0 54px;
}

.input-container .ant-alert-error {
    margin-top: 6px;
}

.form-row .field-container:not(.reverse) label:after {
    content: ':'
}

.form-row label + sup {
    color: red;
    font-size: smaller;
}

.form-row input.error {
    border-color: var(--error);
}

.form-row #prev {
    margin-right: 8px;
}

.result-item:not(:last-child)::after {
    content: ', '

}